@model Recipe
@{
    ViewBag.Title = "Add a Recipe";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Add a Recipe</h4></div>
    <div class="panel-body">

        @Html.Partial("_RecipeForm", Model);
    </div>
</div>
