
@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to George's Recipes</h1>

<table class="table table-sm table-striped table-bordered">
    <tr>
        <td>
            <a class="nav-link" asp-action="RecipeList">View Recipe List</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link" asp-action="AddRecipe">Add a Recipe</a>
        </td>
    </tr>
</table>