
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assignment 01 - Recipes</title>
</head>
<body>
    <h1>Welcome to George's Recipes</h1>
    <table class="table table-sm table-striped table-bordered">
        <tr>
            <td>
                <a class="nav-link" asp-action="RecipeList">View Recipe List</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="nav-link" asp-action="AddRecipe">Add a Recipe</a>
            </td>
        </tr>
    </table>
</body>
</html>
