
@{
    ViewBag.Title = "List of Recipes";
}

<div class="panel-body">
    <h1>Here are George's Recipes</h1>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Recipe r in Model)
            {
                <tr>
                    <td><a class="nav-link" asp-action="ViewRecipe" asp-route-ID="@r.ID" >@r.Name</a> </td>
                    <td>@r.Description</td>
                    <td>@r.ID</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p><a class="nav-link" asp-action="Index">Click here</a> to go back to the Home Page</p>
